* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgb(38, 38, 38), rgb(143, 141, 141));
  text-align: center;
  color: bisque;
}
