.App {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Делит содержимое на две колонки, кнопки занимают одну, контент другую */
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgb(38, 38, 38), rgb(143, 141, 141));
  color: bisque;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; /* Чтобы кнопки были по вертикали посередине колонки */
  margin-left: 20px;
}

.linkButton {
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
