* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgb(38, 38, 38), rgb(143, 141, 141));
  color: bisque;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}

.linkButton {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .App {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/photos/mainphoto.png');
    background-size: cover;
    background-position: center;
    color: bisque;
  }
}

