* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dancing-script {
  text-align: center;
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
}

.pages-content {
  width: 1000px;
  margin: 100px auto;
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.pages-content a {
  text-decoration: none;
  color: bisque;
}

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
} */

.textOverlay {
  position: absolute;
  top: 30%;
  left: 28%;
  transform: translate(-50%, -50%);
  font-size: 8em;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px rgb(252, 229, 201);
  -webkit-background-clip: text;
  background-clip: text;
}

.imageContainer {
  position: relative;
  height: 100vh;
  width: 100%;
}

.image {
  position: absolute;
  top: 0;
  right: 200px;
  height: 100%;
  width: auto;
}

.video {
  position: absolute;
  top: 50;
  margin: auto auto;
  height: 40%;
  width: auto;
}

.titles {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  color: azure;
  font-size: 24px;
}

.article {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  color: azure;
  font-size: 14px;
  width: 500px;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
  }

  .navigation a {
    margin-bottom: 10px;
  }

  .imageContainer {
    display: none;
  }

  .image {
    display: none;
  }

  .textOverlay {
    display: none;
  }

  .dancing-script {
    display: none;
  }
}
