* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dancing-script {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

.pages-content {
  width: 1000px;
  margin: 100px auto;
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imageContainer {
  width: 50%;
}

.image {
  width: 100%;
  height: auto;
}

