.videoIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    cursor: pointer;
  }
  
  .icon {
    width: 100px; 
    height: auto;
  }
  
  .title {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #ebe5e5; 
  }